@model MyEcomerce.Models.Produto
@{
    ViewData["Produtos"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Página de produtos</h2>
<h1>Título de nível 1</h1>
<h2>Título de nível 2</h2>
<h3>Título de nível 3</h3>
<h4>Título de nível 4</h4>
<h5>Título de nível 5</h5>
<h6>Título de nível 6</h6>

<form action="salvar_dados.php" method="post">
    <input type="text" placeholder="Digite aqui"> <br />
    <input type="checkbox"> <b> CHeckbox </b> <br />
    <input type="radio"> <b> Radio Button </b> <br />
    <input type="range"> <br />
    <input type="submit" value="Enviar">


    <p>Texto em negrito com <b>bold</b> e <strong>strong</strong>.</p>
    @Html.DisplayFor(x => x.Id, "Id do fornecedor")
    @Html.TextBoxFor(x => x.Id)


</form>

@*<audio controls>
    <source src="D:\Users\marki\Documents\Projetos\MyEcomerce\TheVerve.mp3" type="audio/mpeg">
    Seu navegador não suporta áudio tag.
</audio>*@

